<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    
    <link href="../static/signup.css" rel="stylesheet">
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="index">Home</a>
                    </li>
                    <li role="presentation"><a href="index">Classifier</a>
                    </li>
                    <li role="presentation"><a href="showchat">Chat</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">SDI Classification</h3>
        </div>
 
      <div class="jumbotron">
        <h2>Ask your Classification</h2>
        <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Write your comment..." required autofocus>
        <button id="btnSignUp" class="btn btn-primary btn-md btn-block"  type="button">Classify</button>
      </form>
      </div>
      <footer class="footer">
        <p>&copy; Tata Consultancy Services</p>
      </footer>
 
    </div>
  </body>
</html>
