<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 <link href="../static/signup.css" rel="stylesheet">
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Classifier</a>
                    </li>
                    <li role="presentation"><a href="showchat">Chat</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">SDI Classification</h3>
        </div>
 
        <div class="jumbotron">
            <h2>Bulk Classifier</h2>
            <br>
            <p class="lead"></p>
            
            <h4><input type="file" name="file" accept=".csv,.xls,.xlsx,.ods"></h4>
            <p><input type="submit" value="Upload" class="btn btn-lg btn-success">&nbsp&nbsp
&nbsp&nbsp&nbsp<a class="btn btn-lg btn-success" href="output" role="button">Classify</a></p>
        </div>
 
        
 
        <footer class="footer">
            <p>&copy; Tata Consultancy Services</p>
        </footer>
 
    </div>
</body>
 
</html>
